<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
 	

	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>cn.itcast.bookStore.web.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>adminPrivilegeFilter</filter-name>
		<filter-class>cn.itcast.bookStore.web.filter.AdminPrivilegeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminPrivilegeFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>ShowIndexSerlvet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.factoryClient.ShowIndexSerlvet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowIndexSerlvet</servlet-name>
		<url-pattern>/ShowIndexSerlvet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FindAllCustomerServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.manager.FindAllCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindAllCustomerServlet</servlet-name>
		<url-pattern>/listCustomer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FactoryLoginServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.factoryClient.FactoryLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FactoryLoginServlet</servlet-name>
		<url-pattern>/factoryLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.client.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>imageCode</servlet-name>
		<servlet-class>cn.itcast.bookStore.utils.CheckImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageCode</servlet-name>
		<url-pattern>/imageCode</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.client.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/servlet/RegisterServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActiveUserServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.client.ActiveUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActiveUserServlet</servlet-name>
		<url-pattern>/activeUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddCustomerServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.manager.AddCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCustomerServlet</servlet-name>
		<url-pattern>/addCustomer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FindCustomerServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.manager.FindCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindCustomerServlet</servlet-name>
		<url-pattern>/findCustomer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditCustomerServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.manager.EditCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCustomerServlet</servlet-name>
		<url-pattern>/editCustomer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<servlet-class>cn.itcast.bookStore.web.servlet.manager.DeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<url-pattern>/deleteCustomer</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
